alias ll='ls -laGFh'
alias apasta='sudo apachectl start'
alias apasto='sudo apachectl stop'
alias apares='apasto; apasta'
alias myssta='sudo /usr/local/mysql/support-files/mysql.server start'
alias myssto='sudo /usr/local/mysql/support-files/mysql.server stop'
alias mysres='sudo /usr/local/mysql/support-files/mysql.server restart'
alias apalog='tail -f /var/log/apache2/access_log'
alias subl='/Applications/Sublime\ Text\ 2\.app/Contents/SharedSupport/bin/subl'

function docu () {
	php ~/.dotfiles/.open_docs.php $1 $2 $3
}
